<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>Pick a Day to See Holidays!</h1>
    <form action="/pick_date" method = "POST">
        <label for="myDate">Pick A Date:</label>
        <input type="date" id="myDate" name="myDate">
        <input type="submit" value="select">
    </form>
</html>