<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
</head>
<body>
    <a href="/" style="border-style: solid;">Pick Again!</a>
    <div  style="text-align: center;">
        <h1>You Chose:{{todaysDate}}</h1>
        {% for one_holiday in all_holidays %}
            <ul style="list-style-type: none;">
                <li>{{one_holiday.name}}</li>
            </ul>
        {% endfor %}
    </div>
</body>
</html>